__pycache__/
TF-DeepHand-master/
ph2014-dev-set-handshape-annotations/
data/
data_heap/
DeepHand_test_images/
CNN/saved_model.pb/
CNN/saved_model.pbtxt
data_heap_by_actor.tar.gz
CNN/trained_networks/
build/
dist/
graphs/
ChicagoFSWild/
