<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="stuff, to, help, search, engines, not" name="keywords">
<meta content="What this page is about." name="description">
<meta content="Display Webcam Stream" name="title">
<title>Display Webcam Stream</title>

<style>
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

#startbutton {
  position: absolute;
  width: 40.78%;
  height: 10%;
  margin-left: 29%;
  margin-right: 30%;

}

#canvas {
  position: absolute;
  top: 3%;
  left: 30.45%;
  width: 500px;
  height: 375px;
}
</style>
</head>

<body>
<div id="container">
    <video autoplay="true" id="videoElement">

    </video>
</div>
<button id="startbutton">CAPTURE</button>
<canvas id="canvas" width="150" height="100"></canvas>
<script>
(function() {

  var streaming = false,
    video = document.querySelector('#videoElement'),
    canvas = document.querySelector('#canvas'),
    buttoncontent = document.querySelector('#buttoncontent'),
    photo = document.querySelector('#photo'),
    startbutton = document.querySelector('#startbutton'),
    width = 320,
    height = 0;

  navigator.getMedia = (navigator.getUserMedia ||
    navigator.webkitGetUserMedia ||
    navigator.mozGetUserMedia ||
    navigator.msGetUserMedia);

  navigator.getMedia({
      video: true,
      audio: false
    },
    function(stream) {
      if (navigator.mozGetUserMedia) {
        video.mozSrcObject = stream;
      } else {
        var vendorURL = window.URL || window.webkitURL;
        video.src = vendorURL.createObjectURL(stream);
      }
      video.play();
    },
    function(err) {
      console.log("An error occured! " + err);
    }
  );

  video.addEventListener('canplay', function(ev) {
    if (!streaming) {
      height = video.videoHeight / (video.videoWidth / width);
      video.setAttribute('width', width);
      video.setAttribute('height', height);
      canvas.setAttribute('width', width);
      canvas.setAttribute('height', height);
      streaming = true;
    }
  }, false);

  function takepicture() {
    video.style.display = "none";
    canvas.style.display = "block";
    startbutton.innerText= "RETAKE";
    canvas.getContext('2d').drawImage(video, 0, 0, width, height);
    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
    canvas.toBlob(res, 'image/jpeg'); //Request blob from canvas

  }

  startbutton.addEventListener('click', function(ev) {
    if(startbutton.innerText==="CAPTURE")
    {
      takepicture()
        // .then(download);
      var xhr = new XMLHttpRequest();

      xhr.open("POST", "http://localhost:8080/", false);
      xhr.setRequestHeader("Authorization", "CloudSight [key]");

      xhr.send("image=h");

      console.log(xhr.status);
      console.log(xhr.statusText);
    }
    else
    {
      video.style.display = "block";
      canvas.style.display = "none";
      startbutton.innerText= "CAPTURE";
    }
    ev.preventDefault();
  }, false);

})();
var xhr = new XMLHttpRequest();

xhr.open("POST", "something.jpg", false);
xhr.setRequestHeader("Authorization", "CloudSight [key]");

xhr.send("http://api.cloudsightapi.com/image_requests");

// function download(blob){
//   let a = document.createElement('a');
//   a.href = URL.createObjectURL(blob);
//   a.download = 'screenshot.jpg';
//   document.body.appendChild(a);
//   a.click();
// }
// saveBlobAsFile(blob, fileName) {
//
//     var reader = new FileReader();
//
//     reader.onloadend = function () {
//         var base64 = reader.result ;
//         var link = document.createElement("a");
//
//         link.setAttribute("href", base64);
//         link.setAttribute("download", fileName);
//         link.click();
//     };
//
//     reader.readAsDataURL(blob);
// }
 
</script>
</body>
</html>
